.App {
  text-align: center;
}

.leftRightButtonParent{
  display: inline-flex;
}
.leftRightButtonParent button{
  width:150px;
}
.leftRightButtonParent div{
  width:150px;
}

.modalLeftRightButton{
  
    display: inline-flex;
  
}